# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints/

# Environment
.venv/
.env
poetry.lock

# shapefile
*.cpg
*.dbf
*.prj
*.shx
*.shp
*.sbn
*.sbx

# geojson
*.qmd

# fontes
fontes/

# comprimidos
*.zip